
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// materialize-css
@import "node_modules/materialize-css/sass/materialize";
  body{
    background-color: #EAF1F1;
  }
  input:not([type]),
  input[type=text]:not(.browser-default),
   input[type=password]:not(.browser-default),
   input[type=email]:not(.browser-default),
   input[type=url]:not(.browser-default),
   input[type=time]:not(.browser-default),
   input[type=date]:not(.browser-default),
   input[type=datetime]:not(.browser-default),
   input[type=datetime-local]:not(.browser-default),
   input[type=tel]:not(.browser-default),
   input[type=number]:not(.browser-default),
   input[type=search]:not(.browser-default),
   textarea.materialize-textarea {
     background-color: #EAF1F1;
     padding-left: 10px;
   }


 .table-image{
   width:120px;
 }
 .quantity{
   padding-left:20px;
 }
 .side-by-side{
   float:left;
   margin-left:10px;
 }
